<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="file" />
    <appender-ref ref="mondodb" />
  </root>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="c:\logs\myapp.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message %newline" />
    </layout>
  </appender>

  <appender name="mondodb" type="SSTI.Log.Log4Net.MongoDB.Appenders.MongoDBTypeAppender">
    <collectionName   value="log4net01" />
    <connectionString value="mongodb://<<host>>/<<database>>" />
    <documentType     value="SSTI.Log.Log4Net.MongoDB.Models.Log" />

    <capped           value="true" />
    <maxDocuments     value="100000" />
    <maxSize          value="1048576000" />

    <!-- Evitar que o log genérico seja disparado para este appender -->
    <filter type="SSTI.Log.Log4Net.MongoDB.Filters.TypeFilter">
      <type value="SSTI.Log.Log4Net.MongoDB.Models.Log" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
</log4net>